<h3 class="intro-text">Find owners</h3>

<div>
  <form id="find-owner-form" action="/find-owner" method="get">
    <label id="last-name-label">Last name</label>
    <input type="text" id="last-name-text" maxlength="20"/>
    <input type="submit" id="find-owner-button" value="Find owner"/>
  </form>
</div>