<p class="intro-text">Welcome admin!</p>

<div class="admin-actions">
  <p><a href="/pet-clinic/admin/owners">Manage owners</a></p>

  <p><a href="/pet-clinic/admin/vets">Manage veterinaries</a></p>

</div>



