<h3>Veterinaries</h3>

<div class="row">
  <div class="col-md-8">

    <div class="admin-actions">
      <p><a href="/pet-clinic/admin/vets/new" class="btn btn-primary"> Create new </a></p>
    </div>

    <% unless result.nil? %>
        <div class="panel panel-default">
          <table class="table">
            <thead>
            <tr>
              <th><strong>Name</strong></th>
              <th><strong>Speciality</strong></th>
              <th><strong></strong></th>
            </tr>
            </thead>
            <tbody>
            <% result.each do |id, vet| %>
                <tr>
                  <td class="table-cell"><%= vet.first_name %>&nbsp;<%= vet.last_name %></td>
                  <td class="table-cell"><%= vet.speciality %></td>
                  <td class="table-cell"><a href="/pet-clinic/admin/vets/remove/<%= id %>">Delete</a></td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
    <% end %>

  </div>
</div>