<p class="intro-text">Add Veterinarian</p>
<div class="form-container">
  <form id="new_vet_form" action="/pet-clinic/admin/vets/create" method="post">
    <label id="first_name_label">First name</label>
    <input type="text" name="firstname" id="firstname" maxlength="20"/>
    <label id="last_name_label">Last name</label>
    <input type="text" name="lastname" id="lastname" maxlength="20"/>
    <label id="speciality_label">Speciality</label>
    <input type="text" name="speciality" id="speciality" maxlength="20"/>
    <input type="submit" id="add_owner_button" value="Create"/>
  </form>
</div>
