.table {
    display: block;
    width: 100%;
}

.table-heading, .table-body, .table-foot, .table-row {
    clear: both;
}

.table-head, .table-foot {
    background-color: #DDD;
    font-weight: bold;
}

.table-cell, .table-head {
    border: 1px solid #999999;
    float: left;
    height: 17px;
    overflow: hidden;
    padding: 3px 1.8%;
    width: 28%;
}

.table:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}