<html>
<head>
  <title>
    Pet Clinic :: Sinatra ruby application!
  </title>

  <link href="<%= stylesheet_path 'main' %>" rel="stylesheet" />

</head>
<body style="margin-left: 50px">
<div class="container">

  <img class="hero-image" src="<%= image_path 'banner.jpeg' %>">

  <ul>
    <li><a href="/pet-clinic/home">Home</a></li>
    <li><a href="/pet-clinic/owners/find">Find owners</a></li>
    <li><a href="/pet-clinic/vets">Veterinaries</a></li>
    <li><a href="/pet-clinic/about">About</a></li>
  </ul>

  <div class="fragment">
    <%= yield %>
  </div>

</div>

</body>
</html>
