<html>
<head>
  <title>
    Pet Clinic :: Sinatra ruby application!
  </title>

  <link href="/assets/css/main.css" type="text/css" rel="stylesheet"/>
</head>
<body style="margin-left: 50px">
<div class="container">

  <img class="hero-image" src="/assets/images/banner.jpeg">

  <ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/owners/find">Find owners</a></li>
    <li><a href="/vets">Veterinaries</a></li>
    <li><a href="/about">About</a></li>
  </ul>

  <div class="fragment">
    <%= yield %>
  </div>


</div>

</body>
</html>
