<html>
<head>
  <title>
    Pet Clinic :: Sinatra ruby application!
  </title>
</head>
<body>
<div class="container">

  <h3>Pet Clinic</h3>

  <p><a href="/home">Home</a></p>

  <p><a href="/owners/find">Find owners</a></p>

  <p><a href="/vets">Veterinaries</a></p>

  <%= yield %>

</div>

</body>
</html>
