<html>
<head>
  <title>
    Pet Clinic :: Sinatra ruby application!
  </title>

  <link href="<%= stylesheet_path 'main' %>" rel="stylesheet"/>

</head>
<body>
<div class="container">

  <header>
    <img class="hero-image" src="<%= image_path 'hero.jpeg' %>">

    <div class="nav">
      <ul>
        <li><a href="/pet-clinic/home">Home</a></li>
        <li><a href="/pet-clinic/owners/find">Find owners</a></li>
        <li><a href="/pet-clinic/vets">Veterinaries</a></li>
        <li><a href="/pet-clinic/about">About</a></li>
      </ul>
    </div>
    </header>
      <div class="fragment">
        <%= yield %>
      </div>

</div>

</body>
</html>
